#parentdiv {
	overflow: auto;
	white-space: nowrap;
	height: 833px;
}

#inner_wrapper {
	display: inline-table;
	width: 330px;
	text-align: center;
	justify-content: center;
	padding: 20px;
	margin: 20px;
	background-color: #f9f9f9;

	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

.red2 {
	border-color: green !important;
	border-style: solid !important;
	border-width: 5px !important;
	border-color: green !important;
}

.hide {
	border-style: dotted;
	opacity: 50%;
}
